<!DOCTYPE html>
<html>
<head>
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby</h1>
    
    <div>
        <button id="set-ready-button">Ready</button>
    </div>
    
    <script>
        // Check if both players are ready
        let player1Ready = 0;
        let player2Ready = 0;

        // Replace this with your logic to determine if the current user is player 1 or 2
        const isPlayer1 = true;
        const roomCode = "{{ room_code }}";

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            
            if (parts.length === 2) {
                return parts.pop().split(';').shift();
            }
        }
        const sessionID = getCookie('sid');
        console.log(sessionID)

        // When the "Set Ready" button is clicked
        document.getElementById('set-ready-button').addEventListener('click', () => {
            // Toggle player's ready status
            if (isPlayer1) {
                player1Ready = !player1Ready;
            } else {
                player2Ready = !player2Ready;
            }

            // Update the button text
            document.getElementById('set-ready-button').textContent = isPlayer1
                ? (player1Ready ? 'Unready' : 'Ready')
                : (player2Ready ? 'Unready' : 'Ready');

            // Send a POST request to the server to set player readiness
            fetch(`/set_ready_status/${roomCode}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    sid: sessionID,
                    isPlayer1,
                    ready: isPlayer1 ? player1Ready : player2Ready,
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
        });
        function checkRoomStatus() {
            fetch(`/players_ready/${roomCode}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ready') {
                        // Both players have joined, redirect to the game page
                        window.location.href = `/snakeVS/${roomCode}`;
                    } else {
                        // Room is not ready yet, continue checking
                        setTimeout(checkRoomStatus, 100); // Check every 1 seconds
                    }
                });
    }
    
    // Start checking room status when the page loads
    checkRoomStatus();
    </script>
</body>
</html>
